@using EntityLayer.Concrete
@model List<Course>

<div class="w3l-index-block4 pb-5">
    <div class="features-bg pb-lg-5 pt-lg-4 py-4">
        <div class="container">
            <div class="title-main text-center mx-auto mb-md-4">
                <h3 class="title-big">Eğitim Katagorilerimiz</h3>
                <p class="sub-title mt-2">
                    Onlarca katagori ile binlerce öğrenciye ulaşan eğitim içeriklerimize
                    aşağıdaki katagori linklerinden erişebilirsiniz
                </p>
            </div>
            <div class="row">
                @foreach(var item in Model)
                {
                <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="/EducationH/Index/" class="d-flex feature-unit align-items-center">
                        <div class="col-4">
                            <div class="features15-info">
                                <img class="img-fluid" src="@item.IconUrl" alt=" ">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="features15-para">
                                <h6>Free</h6>
                                <h4>@item.Tittle</h4>
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</div>