<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/Student/MyLesson/Index/">

                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Eğitimlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="./pages/tables.html">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Satın Al</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Student/MessageA/ReceiverMessage/">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-app text-info text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Student/MessageA/SenderMessage/">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Giden Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Student/MessageA/SendMessage/">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-collection text-info text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Yeni Mesaj</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Student/ProfileA/Index/">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Profilim </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Default/Index/">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Siteye Dön</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/Login/LogOut/">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-collection text-info text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</div>
<div class="sidenav-footer mx-3 ">
    <div class="card card-plain shadow-none" id="sidenavCard">
        <img class="w-50 mx-auto" src="~/dashboardmaster1/assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
        <div class="card-body text-center p-3 w-100 pt-0">
            <div class="docs-info">
                <h6 class="mb-0">Yardımamı İhtiyacınız Var?</h6>
                <p class="text-xs font-weight-bold mb-0">Hemen Bize Yazın</p>
            </div>
        </div>
    </div>
    <a href="#" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Ekip İletişim</a>
</div>