@using EntityLayer.Concrete
@model List<Teacher>

<section class="w3l-teams-32-main py-5">
    <div class="teams-32 py-md-4">
        <div class="container">
            <div class="title-main text-center mx-auto mb-4">
                <h3 class="title-big">UZMAN ÖĞRETMENLERIMIZ</h3>
                <p class="sub-title mt-2">
                   Kendi alanlarının en iyisi olma yolunda emin adımlar ile ilerleyen eğitmenlerimizin 
                   eğitimleri sizleri bekliyor.
                </p>
            </div>
            <div class="row main-contteam-32 mt-sm-5 pt-lg-2">
                @foreach (var item in Model)
                {
                <div class="col-lg-3 col-6 team-main-19">
                    <div class="column-19">
                        <a href="#team"><img class="img-fluid" src="@item.ImageUrl" alt=" "></a>
                    </div>
                    <div class="right-team-9">
                        <h6><a href="#team" class="title-team-32">@item.Name</a></h6>
                        <p class="sm-text-32">@item.Section</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>