
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akedemi 404 Hata Sayfası</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Stamp error page Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <!-- Meta tag Keywords -->
    <link rel="stylesheet" href="~/404pages/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link href="//fonts.googleapis.com/css?family=Slabo+27px&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="main">
        <h1>404</h1>
        <p>
           Erişiminiz Olmayan Sayfaya Giremezssiniz...<br />Kayıp'mı Oldunuz?
        </p>
        <button type="button"><a href="/Default/Index/">Anasayfaya Dön</a></button>
        <div class="copyright">
            <p>© @DateTime.Now.Year Akedemi 404 Sayfası. Tüm Hakları Saklıdır | Gizlilik Kuuralları <a href="#">ÇindaSooft Acedemy</a></p>
        </div>
    </div>
</body>

</html>

