@model EntityLayer.Concrete.Course

@{
    ViewData["Title"] = "AddCourse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="text-align: center">Yeni Eğitim Oluşturma Sayfası</h3>
<form method="post">

    <div>
        <span class="col-form-label">Başlık</span>
        <input type="text" asp-for="Tittle" class="form-control" />
    </div>
    <br />
    <div>
        <span class="col-form-label">Açıklama</span>
        <textarea cols="30" rows="5" asp-for="Description" class="form-control"></textarea>
    </div>
    <br />
    <div>
        <span class="col-form-label">Icon Url</span>
        <input type="text" asp-for="IconUrl" class="form-control" />
    </div>
    <br />
    <button class="btn btn-sm btn-outline-success"> Ekle</button>
</form>