@using EntityLayer.Concrete
@model List<Feature>
<section id="home" class="w3l-banner py-5">
    <div class="container pt-5 pb-md-4">
        <div class="row align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-md-6 banner-left pt-md-0 pt-5">
                    <h3 class="mb-sm-4 mb-3 title">
                        @item.Header <br><span class="type-js">
                            <span class="text-js">Akedemi</span>
                        </span>
                    </h3>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <a class="btn button-style" href="/Login/SıgnIn/">
                            Kullanmaya Başlayın<i class="fa fa-angle-double-right"
                                                  aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 banner-right mt-md-0 mt-4">
                    <img class="img-fluid" src="@item.ImageUrl" alt=" ">
                </div>
            }
        </div>
    </div>
</section>