@using EntityLayer.Concrete
@model List<Article>

<div class="w3l-grids-block-5 py-5">
    <section id="grids5-block" class="pt-md-4 pb-md-5 py-4 mb-5">
        <div class="container">
            <div class="title-main text-center mx-auto mb-4">
                <h3 class="title-big">SON YAZILARIMIZ</h3>
                <p class="sub-title mt-2">
                    Akedemi eğitimlerimiz ile ilgili en son duyuru haberlerimize buadan
                    ulaşabilirsiniz.
                    Yeni kurslar, Eğitmenlerin yazdıkları makale ve haberler aşağıdadır.
                </p>
            </div>
            <div class="row mt-sm-5 pt-lg-2">
                @foreach (var item in Model)
                {
                <div class="col-lg-4 col-sm-6">
                    <div class=" grids5-info">
                        <a href="#blog"><img src="@item.ImageUrl" alt="" /></a>
                        <div class="blog-info">
                            <h5>@item.Date</h5>
                            <h4><a href="#blog">@item.Subject</a></h4>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
</div>