@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "EditAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 style="text-align: center"> Hakkımızda Güncelleme Paneli</h3>
<form method="post">
    <input type="hidden" class="col-form-label" asp-for="AboutID" />
    <div>
        <span class="col-form-label">İkon</span>
        <input type="text" asp-for="ImageUrl" class="form-control" />
    </div>
    <br />
    <div>
        <span class="col-form-label">Açıklama</span>
        <textarea cols="30" rows="5" class="form-control" asp-for="Description"></textarea>
    </div>
    <br />
    <div>
        <span class="col-form-label">Başlık</span>
        <input type="text" asp-for="Tittle" class="form-control" />
    </div>
    <br />
    <button class="btn btn-sm btn-outline-success">Güncelle</button>
</form>
