
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_HeaderPartial.cshtml")
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_SidebarPartial.cshtml")
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_NavbarPartial.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_FooterPartial.cshtml")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_ScriptsPartial.cshtml")
    <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
</body>
</html>
