@model List<Announcement>
@{
    ViewData["Title"] = "AnnouncementList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyuru Listesi </h4>
            <p class="card-description">
                Yeni <code>.Duyurular</code>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="@item.Image" style="height:60px;width:80px" alt="image" />
                                </td>
                                <td> @item.Subject </td>
                                <td><a href="/Student/StuAnnouncement/AnnouncementDetails/@item.AnnouncementId" class="btn btn-outline-info">Detaylar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

