<footer class="w3l-footer-22 position-relative mt-5 pt-5">
    <div class="footer-sub">
        <div class="container">
            <div class="text-txt">
                <div class="right-side text-center">
                    <h4>Öğrenmenin Yeni Yolu ÇindaSoft Academy.</h4>
                    <a class="btn button-style mt-4" href="/Login/SıgnIn/">
                        Kullanmaya Başlayın<i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="row sub-columns">
                    <div class="col-lg-4 col-md-6 col-sm-8 sub-one-left">
                        <h6>Hakkımızda </h6>
                        <p>
                            Türkiye Genelinde Binlerce Öğrenciye Ulaşan ÇindaSoft
                            Acedemy ile yüzlerce eğitimi
                            Çok Değerli Gençlerimile Buluşturuyoruz.
                        </p>
                        <div class="columns-2">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                                </li>
                                <li>
                                    <a href="#github"><span class="fa fa-github" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-4 mt-sm-0 mt-5 sub-two-right">
                        <h6>Hızlı Bağlantılar</h6>
                        <ul>
                            <li>
                                <a href="index.html"><span class="fa fa-angle-double-right mr-2"></span>Anasayfa</a>
                            </li>
                            <li>
                                <a href="about.html"><span class="fa fa-angle-double-right mr-2"></span>Hakkımızda</a>
                            </li>
                            <li>
                                <a href="courses.html">
                                    <span class="fa fa-angle-double-right mr-2"></span>Eğitimler
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <span class="fa fa-angle-double-right mr-2"></span>İletişim
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                        <h6>Yardım & Destek</h6>
                        <ul>
                            <li>
                                <a href="#live">
                                    <span class="fa fa-angle-double-right mr-2"></span>Grafikler
                                </a>
                            </li>
                            <li>
                                <a href="#faq"><span class="fa fa-angle-double-right mr-2"></span>SSS</a>
                            </li>
                            <li>
                                <a href="#support"><span class="fa fa-angle-double-right mr-2"></span>Destek</a>
                            </li>
                            <li>
                                <a href="#terms">
                                    <span class="fa fa-angle-double-right mr-2"></span>Hizmetlerimiz
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6 sub-one-left mt-lg-0 mt-sm-5 mt-4">
                        <h6>İletişim </h6>
                        <div class="column2">
                            <div class="href1">
                                <span class="fa fa-envelope-o" aria-hidden="true"></span><a href="mailto:tunccindas7570@gmail.com">tunccindas7570@gmail.com</a>
                            </div>
                            <div class="href2">
                                <span class="fa fa-phone" aria-hidden="true"></span><a href="tel:+90 536-940-55-26">+90 536-940-55-26</a>
                            </div>
                            <div>
                                <p class="contact-para">
                                    <span class="fa fa-map-marker"
                                          aria-hidden="true"></span>Türkiye/Sinop, Gelincik Mah, 10001
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright-footer text-center">
        <div class="container">
            <div class="columns">
                <p>
                    @DateTime.Now.Year Online Eğitim. Tüm Hakları Gizlidir. Design by <a href="https://w3layouts.com/"
                                                                         target="_blank"> W3Layouts</a>
                </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
</footer>