@using EntityLayer.Concrete
@model List<CommentTeacher>
<section class="w3l-companies-hny-6 position-relative">
    <div class="cusrtomer-layout py-5">
        <div class="container py-md-4 py-3">
            <div class="title-heading-w3 text-center mx-auto">
                <h3 class="title-big">KULLANICILARIMIZ NE DIYOR</h3>
            </div>
           
            <div id="owl-demo1" class="owl-carousel owl-theme mt-5">
                @foreach (var item in Model)
                    {
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="@item.ImageUrl" class="img-fluid" alt="/">
                                </div>
                                <div class="peopl">
                                    <h3>@item.Name</h3>
                                    <p class="indentity">@item.City</p>
                                </div>
                            </div>
                            <blockquote>
                                <p>
                                    @item.Description
                                </p>
                            </blockquote>
                            <quote></quote>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="quote-special">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
        </div>
    </div>
</section>