
<section class="w3_stats py-5" id="stats">
    <div class="container py-md-5 py-4">
        <div class="w3-stats">
            <div class="row text-center">
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <img src="~/AcademyStar/assets/images/stats1.png" alt="" />
                        <div class="timer count-title count-number" data-to="40" data-speed="1500"></div>
                        <p class="count-text">TOPLAM DERS SAYISI</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <img src="~/AcademyStar/assets/images/stats2.png" alt="" />
                        <div class="timer count-title count-number" data-to="25" data-speed="1500"></div>
                        <p class="count-text">UZMAN ÖĞRETMENLER</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-4">
                    <div class="counter">
                        <img src="~/AcademyStar/assets/images/stats3.png" alt="" />
                        <div class="timer count-title count-number" data-to="950" data-speed="1500"></div>
                        <p class="count-text">MUTLU ÖĞRENCILER</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-4">
                    <div class="counter">
                        <img src="~/AcademyStar/assets/images/stats4.png" alt="" />
                        <div class="timer count-title count-number" data-to="23" data-speed="1500"></div>
                        <p class="count-text">KAZANILAN ÖDÜLLER</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>