@model List<Welcome>

<section class="w3l-text-6 py-5" id="about">
    <div class="text-6-mian py-md-4 py-3">
        <div class="container">
            <div class="row top-cont-grid align-items-center">
                @foreach(var item in Model)
                {
                <div class="col-lg-6 left-img pr-lg-4">
                    <img src="@item.ImageUrl" alt="" class="img-responsive img-fluid" />
                </div>
                <div class="col-lg-6 text-6-info mb-lg-0 mb-4 pl-lg-5">
                    <h6>Online Eğitim</h6>
                    <h2>@item.Tittle</h2>
                    <p>
                       @item.Description
                    </p>
                        <a href="/EducationH/Index/" class="btn button-style mt-sm-5 mt-4">
                        Eğitimleri İncele<i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
</section>