@model List<OnlineLesson>

<section class="video-section">
    <div class="midd-w3 py-5">
        <div class="container">
            <div class="row mb-lg-2">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6 about-right-faq align-self pl-lg-5">
                        <h3 class="title-big">@item.Header</h3>
                        <p class="mt-3">
                            @item.Description
                        </p>
                        <a href="/Login/SıgnUp/" class="btn button-style mt-sm-5 mt-4">
                            Kayıt Ol<i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-lg-6 left-wthree-img-video text-righ pr-lg-5 mt-lg-0 mt-5">
                        <div class="position-relative text-center">
                            <img src="~/AcademyStar/assets/images/video.jpg" alt="" class="img-fluid radius-image-full">
                            <a href="#small-dialog"
                               class="popup-with-zoom-anim play-view text-center position-absolute">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                <iframe width="560" height="315" src="@item.VideoUrl" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>