@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<body>

    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">İletişm</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="/Default/Index/">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> İletişim</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact py-5" id="contact">
        <div class="container py-md-4 py-3">
            <div class="title-main text-center mx-auto mb-md-4">
                <h3 class="title-big">İLETİŞİME GEÇİN</h3>
                <p class="sub-title mt-2">
                    Kurslar hakkında bilgi almak, yeni eğitmler ile ilgili soru sormak veya site ile ilgili herhangi bir problem yaşarsanız
                    eğer aşağıdaki alandan bize yazabilirsiniz.
                </p>
            </div>
            <div class="main-grid-contact">
                <div class="row mt-5 mx-0">
                    <!-- map -->
                    <div class="col-lg-6 map mt-lg-0 mt-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27404345275!2d-118.69191921441556!3d34.02016130939095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1522474296007"
                                allowfullscreen></iframe>
                    </div>
                    <!-- contact form -->
                    @await Component.InvokeAsync("_ContactPartial")
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
    <!-- support -->
    <div class="support py-5" id="support">
        <div class="container pb-md-5 pb-3">
            <h3 class="title-w3ls text-center mb-5">Yardım & Destek</h3>
            <div class="row support-bottom text-center mb-5">
                <div class="col-lg-4 col-sm-6 support-grid">
                    <span class="fa fa-laptop"></span>
                    <h5 class="text-uppercase mt-3 mb-2">Online Destek</h5>
                    <p>Alt İletişim Kısmından Telefon Numaramıza Ulaşabilirsiniz.</p>
                    <a href="#call" class="btn button-style button-2 mt-4">
                        Hemen Arayın
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 support-grid mt-sm-0 mt-4">
                    <span class="fa fa-comments"></span>
                    <h5 class="text-uppercase mt-3 mb-2">24/7 CANLI SOHBET</h5>
                    <p>İster Bu Sayfa Üzerinden Yada Kendi Sayfanızda'ki İletişim Kısmından Bize Ulaşabilirsiniz.</p>
                    <a href="#chat" class="btn button-style button-2 mt-4">
                        Haydi Sohbet Edelim
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 support-grid mt-lg-0 mt-4">
                    <span class="fa fa-question"></span>
                    <h5 class="text-uppercase mt-3 mb-2">HERHANGİ BIR SORUNUZ VARSA</h5>
                    <p>Bu Panel Üzerinden İstediğiniz Zaman Sorularınızı Sorabilirsiniz.</p>
                    <a href="#ask" class="btn button-style button-2 mt-4">
                        Şimdi Sor
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>


</body>