@model CindaSoftAcedemyCore6.Areas.Student.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header pb-0" >
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Profili Düzenle</p>
                        <a href="/Student/StuAnnouncement/AnnouncementList/" class="btn btn-primary btn-sm ms-auto">Duyurular</a>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">

                    <div class="card-body">
                        <p class="text-uppercase text-sm">Kullanıcı Bilgileri</p>
                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Adınız</label>
                                    <input type="text" asp-for="name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Soyadınız</label>
                                    <input type="text" asp-for="surname" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Mail Adresiniz</label>
                                    <input type="text" asp-for="email" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Kullanıcı Adınız</label>
                                    <input type="text" asp-for="username" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Şifreniz</label>
                                    <input type="password" asp-for="password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Tekrar Şifreniz</label>
                                    <input type="password" asp-for="confirmpassword" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">Resim</label>
                                    <input type="file" asp-for="image" class="form-control" />
                                </div>
                            </div>
                            <button class="btn btn-info">Bilgileri Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card card-profile">
                <img src="~/dashboardmaster1/assets/img/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-4 col-lg-4 order-lg-2">
                        <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                            <a href="#">
                                <img src="~/Userimages/@ViewBag.userimage" class="rounded-circle img-fluid border border-2 border-white">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
                    <div class="d-flex justify-content-between">
                        <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Banka Hesabım</a>
                        <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
                        <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Mesajlar</a>
                        <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"><i class="ni ni-email-83"></i></a>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <div class="d-grid text-center">
                                    <span class="text-lg font-weight-bolder">5</span>
                                    <span class="text-sm opacity-8">Duyurular</span>
                                </div>
                                <div class="d-grid text-center mx-4">
                                    <span class="text-lg font-weight-bolder">6</span>
                                    <span class="text-sm opacity-8">Gelen Mesajlar</span>
                                </div>
                                <div class="d-grid text-center">
                                    <span class="text-lg font-weight-bolder">5</span>
                                    <span class="text-sm opacity-8">Giden Mesajlar</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <h5>
                            @ViewBag.namesurname
                        </h5>
                        <div class="h6 font-weight-300">
                            <i class="ni location_pin mr-2"></i>Turkiye
                        </div>
                        <div class="h6 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Coumputer Programmer - Sinop Üniversitesi
                        </div>
                        <div>
                            <i class="ni education_hat mr-2"></i>Bilgisayar Programcılığı
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>